<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/exploree.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Didáctica</title>
</head>
<body>
    <div class="container">
     
        <a href="index.html" class="back-link">Regresar a la página principal</a>
        
        <h1>Descubre la belleza alrededor del mundo</h1>
        <p>
            Embárcate en una aventura para descubrir la maravilla y la diversidad de nuestro planeta. Desde majestuosas montañas hasta exuberantes selvas tropicales, desde antiguas ciudades hasta playas paradisíacas, el mundo está lleno de lugares increíbles esperando a ser explorados.
        </p>
        <h2>Imágenes Inspiradoras</h2>
        <div class="image-gallery">
   
            <a href="paris.html"><img src="storage/img/paris.jpg" alt="París, Francia"></a>
            <a href="machupichu.html"><img src="storage/img/machupichu.jpg" alt="Machu Picchu, Perú"></a>
            <a href="granmuralla.html"><img src="storage/img/murallachina.jpg" alt="Gran Muralla China"></a>
          
        </div>
        <h2>Destinos Turísticos</h2>
        <div class="destination">
            <h3>París, Francia</h3>
            <p>Conocida como la Ciudad de la Luz, París es famosa por sus monumentos icónicos como la Torre Eiffel, el Louvre y la Catedral de Notre Dame.</p>
        </div>
        <div class="destination">
            <h3>Machu Picchu, Perú</h3>
            <p>Esta antigua ciudad inca ubicada en lo alto de los Andes peruanos es un destino único y fascinante que deja a los visitantes sin aliento.</p>
        </div>
        <div class="destination">
            <h3>Gran Muralla China</h3>
            <p>La Gran Muralla China es una de las maravillas arquitectónicas más impresionantes del mundo, con una historia milenaria y vistas espectaculares.</p>
        </div>
      
    </div>
</body>
</html>
