<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explora la Naturaleza</title>
    <link rel="stylesheet" href="getstared.css">
</head>
<body>
    <header>
        <h1>Explora la Naturaleza</h1>
    </header>
    <main>
        <section class="option beauty">
            <a href="beauty.html">
                <div class="option-content">
                    <h2>Descubre la Belleza</h2>
                    <img src="storage/img/belleza.jpg" alt="Belleza de la Naturaleza">
                    <p>Explora paisajes impresionantes y la belleza única de la naturaleza.</p>
                </div>
            </a>
        </section>
        <section class="option mysteries">
            <a href="mysteries.html">
                <div class="option-content">
                    <h2>Descubre los Misterios</h2>
                    <img src="storage/img/misterios_del_bosque.jpg" alt="Misterios de la Naturaleza">
                    <p>Sumérgete en los misterios y maravillas que la naturaleza tiene para ofrecer.</p>
                </div>
            </a>
        </section>
        <section class="option adventure">
            <a href="adventure.html">
                <div class="option-content">
                    <h2>Vive la Aventura</h2>
                    <img src="storage/img/aventura.jpg" alt="Aventura en la Naturaleza">
                    <p>Embárcate en emocionantes aventuras al aire libre y descubre nuevas experiencias.</p>
                </div>
            </a>
        </section>
        <section class="option wildlife">
            <a href="wildlife.html">
                <div class="option-content">
                    <h2>Explora la Vida Silvestre</h2>
                    <img src="storage/img/silvestre.jpg" alt="Vida Silvestre">
                    <p>Observa la belleza y la diversidad de la vida silvestre en su hábitat natural.</p>
                </div>
            </a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Explora la Naturaleza</p>
    </footer>
</body>
</html>
