<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="granmuralla.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Muralla China</title>
</head>
<body>
    <div class="container">
     
        <a href="explore.html" class="back-link">Regresar a la página principal</a>
        
        <h1>Gran Muralla China</h1>
        <div class="great-wall-info fade-in">
            <p>
                La Gran Muralla China es una de las maravillas arquitectónicas más impresionantes del mundo. Esta antigua fortificación se extiende a lo largo de miles de kilómetros, atravesando montañas y valles, y representa una asombrosa hazaña de ingeniería.
            </p>
            <p>
                Construida inicialmente para proteger al imperio chino de las invasiones de los pueblos nómadas del norte, la Gran Muralla es un símbolo de la historia y la cultura de China. Hoy en día, es uno de los destinos turísticos más populares del país, visitado por millones de personas cada año.
            </p>
            <p>
                Explora tramos de la muralla que ofrecen vistas espectaculares, descubre antiguas torres de vigilancia y aprende sobre la fascinante historia detrás de esta monumental estructura. La Gran Muralla China es un lugar imprescindible para cualquier viajero que desee sumergirse en la rica herencia cultural de China.
            </p>
        </div>
    </div>
</body>
</html>
