<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="machupichu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machu Picchu, Perú</title>
</head>
<body>
    <div class="container">
        
        <a href="explore.html" class="back-link">Regresar a la página principal</a>
        
        <h1>Machu Picchu, Perú</h1>
        <div class="machu-picchu-info fade-in">
            <p>
                Machu Picchu, la ciudad perdida de los incas, es uno de los sitios arqueológicos más fascinantes del mundo. Situada en lo alto de los Andes peruanos, esta antigua ciudad ofrece a sus visitantes una vista impresionante y una experiencia única.
            </p>
            <p>
                Descubierta en 1911 por el explorador Hiram Bingham, Machu Picchu es un testimonio de la ingeniería y la cultura incas. Explora sus terrazas, templos y plazas, maravíllate con la precisión de su construcción y sumérgete en la mística atmósfera de este lugar sagrado.
            </p>
            <p>
                Además de su rica historia, Machu Picchu ofrece a los visitantes la oportunidad de explorar los paisajes impresionantes de los Andes, realizar caminatas por antiguos senderos incas y descubrir la biodiversidad única de la región. Machu Picchu es una experiencia inolvidable que te transportará a tiempos pasados y te dejará con recuerdos para toda la vida.
            </p>
        </div>
    </div>
</body>
</html>
