<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>París, Francia</title>
    <link rel="stylesheet" href="paris.css">

</head>
<body>
    <div class="container">
   
        <a href="explore.html" class="back-link">Regresar a la página principal</a>
        
        <h1>París, Francia</h1>
        <div class="paris-info fade-in">
            <p>
                París, la Ciudad de la Luz, es conocida en todo el mundo por su rica historia, su impresionante arquitectura y su encanto romántico. Hogar de monumentos icónicos como la Torre Eiffel, el Louvre y la Catedral de Notre Dame, París ofrece a sus visitantes una experiencia inolvidable.
            </p>
            <p>
                Pasea por las pintorescas calles parisinas, admira las vistas desde lo alto de la Torre Eiffel, maravíllate con las obras maestras en el Louvre y déjate llevar por el ambiente bohemio en el barrio de Montmartre. Disfruta de la deliciosa gastronomía francesa en encantadores cafés y restaurantes, y sumérgete en la vibrante vida cultural de la ciudad.
            </p>
            <p>
                No te pierdas la oportunidad de explorar los encantadores jardines de Luxemburgo, pasear por las orillas del río Sena o cruzar el famoso Puente de Alejandro III. París ofrece una mezcla única de historia, arte, moda y gastronomía que la convierte en uno de los destinos más fascinantes del mundo.
            </p>
        </div>
    </div>
</body>
</html>
