<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida Silvestre</title>
    <link rel="stylesheet" href="wildlife.css">
</head>
<body>
    <header>
        <h1>Vida Silvestre</h1>
    </header>
    <main>
        <section class="content">
            <h2>Explora la Diversidad de la Vida Silvestre</h2>
            <p>Descubre la belleza y la diversidad de la vida silvestre en su hábitat natural:</p>
            <ul>
                <li>Observa aves migratorias en su viaje anual</li>
                <li>Maravíllate con la majestuosidad de los grandes felinos</li>
                <li>Explora los arrecifes de coral y su colorida vida marina</li>
                <li>Sumérgete en la jungla y observa animales exóticos</li>
            </ul>
            <div class="gallery">
                <img src="wildlife1.jpg" alt="Aves Migratorias">
                <img src="wildlife2.jpg" alt="León en la Sabana">
                <img src="wildlife3.jpg" alt="Peces en un Arrecife de Coral">
                <img src="wildlife4.jpg" alt="Tigre en la Jungla">
                <!-- Agregar más imágenes -->
                <img src="wildlife5.jpg" alt="Oso Panda en su hábitat">
                <img src="wildlife6.jpg" alt="Elefantes en la Sabana">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Explora la Naturaleza</p>
    </footer>
</body>
</html>
